* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

header h1 {
    text-align: center;
    font-size:90px;
    margin-top: 10%;
}

/* Splash Screen */
.intro {
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgb(148, 148, 148);
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff; 
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0%;
}

.logo.active {
    bottom: 0px;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}




/* Media Queries for Responsive Design */
@media (max-width: 1536px) {

}

@media (max-width: 1280px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
    
}

@media (max-width: 640px) {

}

@media (max-width: 475px) {

}